<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Игра "Запомни числа"</title>
    <link rel="stylesheet" href="/static/style.css">
</head>

<body>
<p class="level">Уровень {{ level }}</p>
<p id="countdown"></p>
<p id="numbers"></p>
<a href="{{ url_for('get_user_answers') }}">
    <button id="write-numbers-button">ЗАПИСАТЬ ЧИСЛА</button>
</a>
<script>
    let numbers = {{ numbers }};
    let last_index = numbers.length - 1;

    function count_down(i) {
        if (i > 3) {
            document.getElementById('countdown').style.display = 'none';
            document.getElementById('numbers').style.display = 'block';
            show_new_number(0);
            return;
        }
        document.getElementById('countdown').innerHTML = i;
        setTimeout(() => count_down(i + 1), 1000);
    }

    function show_new_number(i) {
        if (i > last_index) {
            document.getElementById('numbers').style.display = 'none';
            document.getElementById('write-numbers-button').style.display = 'block';
            return;
        }
        document.getElementById('numbers').innerHTML = numbers[i];
        setTimeout(() => show_new_number(i + 1), 1000)
    }

    count_down(1);
</script>
</body>
</html>