{% extends "base.html" %}
{% block content %}
<table id="statistics-table">
    <caption>СТАТИСТИКА</caption>
    <thead>
    <tr>
        <th>Номер уровня</th>
        <th>Числа</th>
        <th>Ваши ответы</th>
        <th>Время</th>
        <th>Результат</th>
    </tr>
    </thead>

    <tbody>
    {% for i in range(count) %}
    <tr>
        <td>{{ level_nums[i] }}</td>
        <td>{{ numbers[i] }}</td>
        <td>{{ answers[i] }}</td>
        <td>{{ times[i] }}</td>
        <td>{{ successes[i] }}</td>
    </tr>
    {% endfor %}
    </tbody>
</table>

<a id="back-to-personal-area-button" href="{{ url_for('show_personal_area') }}">
    <p>← ВЕРНУТЬСЯ В ЛИЧНЫЙ КАБИНЕТ</p>
</a>
{% endblock %}